@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.menu {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0 1vw 1vw; }
  .menu h2 {
    text-align: center; }
  .menu h3 {
    margin-bottom: 1vh; }
  .menu_content {
    height: 100%; }
  .menu .portrait-image {
    background-image: url("../img/portrait.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;
    border-radius: 0.5vw;
    margin-bottom: 1vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
  .menu_skills {
    width: 100%;
    border-radius: 0.5vw;
    padding: 1vh;
    text-align: left;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
    .menu_skills-html {
      width: 100%;
      height: 3.5vh; }
      .menu_skills-html .html_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-html .html_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 20%;
          height: 100%; }
    .menu_skills-scss {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-scss .scss_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-scss .scss_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 20%;
          height: 100%; }
    .menu_skills-javascript {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-javascript .javascript_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-javascript .javascript_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 0%;
          height: 100%; }
    .menu_skills-autocad {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-autocad .autocad_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-autocad .autocad_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 80%;
          height: 100%; }
    .menu_skills-sketchup {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-sketchup .sketchup_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-sketchup .sketchup_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 80%;
          height: 100%; }
    .menu_skills-dsmax {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-dsmax .dsmax_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-dsmax .dsmax_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 50%;
          height: 100%; }
    .menu_skills-photoshop {
      width: 100%;
      height: 3.5vh;
      margin-top: 5%; }
      .menu_skills-photoshop .photoshop_line {
        height: 5px;
        background: linear-gradient(to right, #1f21b6, #4c7dda); }
        .menu_skills-photoshop .photoshop_line-actual {
          background: linear-gradient(to right, #ff0000, #fa4343);
          width: 50%;
          height: 100%; }
  .menu .studies {
    text-align: center;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
    .menu .studies h4 {
      margin-top: 0.5vh; }

.background {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1%;
  height: 100vh; }
  .background_image-box {
    position: relative;
    cursor: pointer;
    transition: .3s; }

.img-1 {
  background: url("../img/1.jpg");
  background-size: cover;
  background-position: bottom; }

.img-2 {
  background: url("../img/2.jpg");
  background-size: cover;
  background-position: bottom; }

.img-3 {
  background: url("../img/3.jpg");
  background-size: cover;
  background-position: bottom; }

.img-4 {
  background: url("../img/4.jpg");
  background-size: cover;
  background-position: bottom; }

.img-5 {
  background: url("../img/5.jpg");
  background-size: cover;
  background-position: bottom; }

.img-6 {
  background: url("../img/6.jpg");
  background-size: cover;
  background-position: bottom; }

.img-7 {
  background: url("../img/7.jpg");
  background-size: cover;
  background-position: bottom; }

.img-8 {
  background: url("../img/8.jpg");
  background-size: cover;
  background-position: bottom; }

.img-9 {
  background: url("../img/9.jpg");
  background-size: cover;
  background-position: bottom; }

.img-10 {
  background: url("../img/10.jpg");
  background-size: cover;
  background-position: bottom; }

.img-11 {
  background: url("../img/11.jpg");
  background-size: cover;
  background-position: bottom; }

.img-12 {
  background: url("../img/12.jpg");
  background-size: cover;
  background-position: bottom; }

.background:hover .background_image-box:not(:hover) {
  filter: grayscale(100%);
  opacity: .6; }

.background:hover .background_image-box:not(:hover)::after {
  background-color: rgba(0, 0, 0, 0.4); }

@media (min-width: 30rem) {
  .background {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.background_image-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: .3s; }

main {
  font-family: 'roboto';
  font-size: 1.2vh;
  color: #0a1233;
  font-weight: 300; }

h2 {
  font-size: 2vh;
  font-weight: 900;
  color: #0a1233;
  text-align: center; }

H3 {
  font-weight: 700;
  text-align: center; }

h4 {
  font-size: 1.38vh;
  font-weight: 500;
  color: #0a1233; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.content {
  display: flex;
  background: linear-gradient(to right, #3d7eaa, #ffe47a); }
