@import "./menu";
@import "./background";
@import "./typography";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    background: linear-gradient(to right, #3d7eaa, #ffe47a);}
